<div class="box">
  <form [formGroup]="form">
    <div class="form-control">
      <label for="name">Product Name</label>
      <input
        type="text"
        formControlName="name"
        id="name"
        class="textbox"
        placeholder="Product Name" />
    </div>

    <div class="form-control currency">
      <label for="price">Product Price</label>
      <input
        type="text"
        formControlName="price"
        id="price"
        class="textbox"
        placeholder="Product Price"
        appFloatNumberOrNumberRange
        [reactiveFormControl]="form.controls['price']"
        [minValue]="0" />
    </div>

    <div class="form-control">
      <label for="description">Product Description</label
      ><textarea formControlName="description" id="description"></textarea>
    </div>

    <div class="button-container">
      <button type="button__save" (click)="onFormSubmission()">
        {{ formType === 'create' ? 'Create Product' : 'Save Product Changes' }}
      </button>
    </div>
  </form>
</div>
