@import '../../../colors';

$row-gap: 20px;

.box {
  position: relative;
  width: 400px;
  height: 500px;
  background-color: $light-gray;
  border-radius: 8px;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 500px;
    background-color: red;
    background-color: linear-gradient(45, $twilight, $twilight-shadow);
    background: linear-gradient(#e66465, #9198e5);
    transform-origin: bottom right;
    animation: rotate 4s linear infinite;
  }
  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 500px;
    background-color: red;
    background-color: linear-gradient(45, $twilight, $twilight-shadow);
    background: linear-gradient(#e66465, #9198e5);
    transform-origin: bottom right;
    animation: rotate 4s linear infinite;
    animation-delay: -2s;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

form {
  z-index: 3;
  position: absolute;
  inset: 4px;
  background-color: white;
  padding: 30px;
  display: grid;
  row-gap: $row-gap;
  border-radius: 4px;
  label,
  P {
    color: $twilight;
    font-size: 18px;
  }
  label {
    &.radio {
      color: $secondary-blue;
      font-weight: 500;
      &:hover {
        color: $bright-blue;
        font-weight: 700;
        transition: ease-in-out 0.5s;
      }
    }
  }
  .textbox {
    display: grid;
    padding: 10px 8px;
    width: 100%;
    border: none;
    outline: none;
  }

  .form-control {
    display: grid;
    position: relative;
    &::before {
      content: '';
      width: 100%;
      height: 3px;
      position: absolute;
      left: 8px;
      bottom: -8px;
      background-color: $light-purple;
    }
    &::after {
      content: '';
      width: 3px;
      height: 50%;
      position: absolute;
      right: -8px;
      bottom: -8px;
      background-color: $light-purple;
    }
    .radios-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      div {
        padding: 6px;
      }
    }
    textarea {
      overflow: none;
      border: none;
      resize: none;
      width: 100%;
      height: 75px;
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }
  }
  button {
    border: none;
    width: 150px;
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
    font-size: 18px;
    color: $light-gray;
    background-color: $twilight;
    border-radius: 5px;
    cursor: grab;
    &.active {
      color: $light-purple;
      background-color: $navy-blue;
      box-shadow: 3px 6px 6px $main-color-shadow;
    }
    &:hover {
      color: $twilight;
      background-color: $light-sky-blue;
      box-shadow: 3px 6px 6px $main-color-shadow;
      transition: ease-in-out 0.5s;
    }
  }
}
