<div *ngIf="productsData$ | async as productsData; else productsRetrievalError">
  <ng-container *ngIf="productsData?.data as products">
    <ng-container *ngFor="let product of products">
      <product-card
        [product]="product"
        (event)="handleProductCardEvent($event)"></product-card>
    </ng-container>
  </ng-container>
  <ng-template #noProducts>
    <h1>There are no products yet</h1>
    <button>Add one</button>
  </ng-template>
</div>
<ng-template #productsRetrievalError>
  <h1>Error</h1>
  <p>
    There was an error retrieving the products, please refresh the window or try
    again later
  </p>
</ng-template>
