@import '../../../colors';
main {
  .title {
    color: $navy-blue;
  }
  display: grid;
  row-gap: 20px;
  padding: 30px 100px;
  .grid-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    .card {
      padding: 20px;
      border: 2px solid $light-gray;
      &:hover {
        border: 2px solid $navy-blue;
        box-shadow: 3px 6px 10px $main-color-shadow;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  main {
    padding: 30px 30px;
  }
}
