<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="pacman">
  <p #messageContainer style="font-size: 30px; color: white">
    Fetching product info...
  </p>
</ngx-spinner>

<main *ngIf="!hasWrongPath; else wrongUrlError">
  <h1 class="title">Edit a Product</h1>
  <div *ngIf="isFetchingProcessStarted" class="wrapper">
    <product-form
      *ngIf="product"
      [product]="product"
      formType="edit"
      (formSubmission)="onFormSubmission($event)"></product-form>

    <div *ngIf="wasNotFound">
      <h1 class="error">Error</h1>
      <p>There was an error retrieving the product, please verify the id</p>
    </div>
  </div>
</main>

<ng-template #wrongUrlError>
  <main>
    <h1 class="error">Sorry, the provided Product ID is not valid</h1>
    <p>Please type only valid whole integer IDs</p>
  </main>
</ng-template>
