$navy-blue: rgba(31, 62, 114, 1);
$bright-blue: rgba(40, 72, 198, 1);
$main-color-shadow: rgba(40, 72, 198, 0.2);
$secondary-blue: #4f517d;
$light-purple: #dccfec;
$light-sky-blue: rgba(238, 243, 255, 1);
// $twilight: rgb(95, 0, 160);
// $twilight-shadow: rgba(95, 0, 160, 0.2);
$light-gray: #bebebe;
$gold: rgba(255, 215, 0, 1);
$light-gold: rgba(250, 250, 210);
$gold-shadow: rgba(255, 215, 0, 0.2);
$red: rgba(255, 0, 0, 1);
$burgundy: rgba(128, 0, 32, 1);
$red-shadow: rgba(255, 0, 0, 0.2);
